<div class="alert alert-block alert-info">
    <div style="font-size: 150%">
        ITI1120 - Introduction to Computer Science
    </div>
    <br>
    <div style="font-size: 110%">
        Lecture #8
        <br>
        Oct. 4th, 2017
        <br>
        Prof. Vida Dujmovic
        <br>
        <br>
        Notebook By: Marc Frame
        <br>
        <br>
    </div>
    <div style="font-size: 75%">
        for loops and range
    </div>
</div>

In [1]:
#iterate through values 0 to n with range(n)
#range(start, end, increment)
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
#print even numbers
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [4]:
#print odd numbers
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [5]:
#print negative numbers
for i in range(-3, 0):
    print(i)

-3
-2
-1

In [6]:
#count down
for i in range(3, 0, -1):
    print(i)

3
2
1

In [7]:
#for loop creates a local variable i - so becareful of what you name the variable
dont_change_this = "you better not"
for dont_change_this in range(10):
    pass
print(dont_change_this)

9

## Lists

In [8]:
[1,2,3,4]

[1, 2, 3, 4]

In [9]:
#not restricted to types
[1, True, "Strings work too!"]

[1, True, 'Strings work too!']

In [10]:
for i in [1, True, "Strings work too!"]:
    print(i)

1
True
Strings work too!

In [11]:
max([1,2,3,4])

4

In [12]:
min([1,2,3,4])

1

In [13]:
#showing all the necessary built in functions
dir(list)[34:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
test = [1, 3, 5]
test.remove(1)
test

[3, 5]

In [15]:
test = [1, 3, 5]
test.pop(1)
test

[1, 5]

In [16]:
test = [1, 3, 5]
test.clear()
test

[]

In [17]:
test = [1, 3, 5]
test.insert(1, True)
test

[1, True, 3, 5]

In [18]:
test = [1, 3, 5]
test.append(False)
test

[1, 3, 5, False]

In [19]:
test = [1, 3, 5]
test.extend([1,2,3])
test

[1, 3, 5, 1, 2, 3]

In [20]:
test = [1, 3, 5]
test.extend("123")
test
#notice how it breaks strings into characters.

[1, 3, 5, '1', '2', '3']

In [21]:
test = [1, 3, 5]
test.reverse()
test

[5, 3, 1]

In [22]:
test = [10, 7, 1, 2, 6, 8, 9, 5, 4, 3]
test.sort()
test

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
test = [True, False, 1, 5, 3]
test.sort()
test
#its able to sort bools too!

[False, True, 1, 3, 5]

In [24]:
test = [1, 3, 5]
new_list = test.copy()
new_list

[1, 3, 5]

## break, continue, pass

In [25]:
number = 0

for number in range(5):
   number = number + 1

   if number == 3:
      break    # break here

   print('Number is ' + str(number))

print('Out of loop')

Number is 1
Number is 2
Out of loop

In [26]:
number = 0

for number in range(5):
   number = number + 1

   if number == 3:
      continue    # continue here

   print('Number is ' + str(number))

print('Out of loop')

Number is 1
Number is 2
Number is 4
Number is 5
Out of loop

In [27]:
number = 0

for number in range(5):
   number = number + 1

   if number == 3:
      pass    # pass here

   print('Number is ' + str(number))

print('Out of loop')

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Out of loop